.lobby-body {
    position: absolute;
    top: 47%;
    width: 100%;
    background-color: rgb(252, 252, 252); 
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 38px;
}

.lobby-container {
    padding: 30px;
    display: flex;
    height: 341px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: end safe;
    justify-content: top safe;
    background-color: rgb(252, 252, 252);
    overflow-y: auto;
}

.lobby-footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}