@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.button {
    width: 74%;
    border: none;
    border-radius: 28px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 17px 0px 17px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #0075FF;
}

.input {
    width: 74vw;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input:focus {
    outline: 3px solid #bddafb;
}

input::placeholder {
    color: rgb(217, 217, 217);
}

.button-home-icon {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}