.request {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 17px;
}
  
.request-circle {
  width: 46px;
  height: 44px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.request-label {
    width: 172px;
    height: 44px;
    padding-top: 8pt;
    padding: 8pt 4pt 0pt;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    text-align: center;
}

.request-accepted-label {
  width: 222px;
  height: 44px;
  padding: 12px 0px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

.request-nickname {
  font-weight: 700;
  font-size: 20px;
}

.request-button {
  border-radius: 50%;
  width: 46px;
  height: 44px;
  border-style: none;
  padding-top: 5px;
}
