.game-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100vh;
}

.animal {
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.input {
    display: block;
    margin-bottom: 4vh;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.players {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.players-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-status {
    min-width: 10%;
    max-width: 50%;
}

.player-points {
    background-color: #5463ac;
    color: white;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
    aspect-ratio: 1 / 1;
    font-size: 22px;
}

.points-view {
    display: none;
}

.player-info {
    text-align: center;
    width: 100%;
}