.game-container {
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    position: relative;
}

.animal {
    padding-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.auctioneer-bid {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 80%;
    margin-top: 6vh;
}


.input-game-auctioneer {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 80%;
    margin-top: 4vh;
}

.input-game {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 80%;
    margin-top: 10vh;
}

.button-game {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    margin-top: 4vh;
}

.players {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.players-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-status {
    min-width: 10%;
    max-width: 50%;
}

.player-points {
    background-color: #5463ac;
    color: white;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
    aspect-ratio: 1 / 1;
    font-size: 22px;
    position: relative;
}

.points-view {
    display: none;
    background-color: white;
    overflow: auto;
    max-height: 80vh;
}

.player-info {
    text-align: center;
    width: 100%;
}

.triangle {
    bottom: 0;
    position: absolute;
    display: none;
    width: 20%;
}

.point-container {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 7vh;
}

.point-image-container {
    margin-left: 6vw;
}

.point-label {
    font-weight: 700;
    display: flex;
    margin-right: 6vw;
    justify-content: center;
    align-items: center;
}

.point-amount-number {
    font-size: 22px;
}

.points-label {
    font-weight: 700;
    font-size: 22px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 6vw;
}

.points-header {
    justify-content: space-between;
    display: flex;
}

.money-label {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-right: 6vw;
    font-size: 22px;
    color: #0075FF;
    font-weight: 700;
}

.smaller-font {
    font-size: 14px;
}

.point-amount-image {
    position: absolute;
    top: 0;
    left: 0;
}

.point-image {
    position: relative;
    width: 100%;
}