.generic-input {
    width: 74vw;
    border: none;
    border-radius: 28px;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: left;
    color: black;
}

.generic-input::placeholder {
    color: #b6b6b6;
}

.generic-button {
    width: 75vw;
    border: none;
    border-radius: 28px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 17.2px 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #0075FF;
}